@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --font-code: "Source Code Pro", monospace;
  --color-ui-text: #282828;
  --color-ui-accent: #ddd;

  --text-body: @apply "text-base"
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
