@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --font-code: "Source Code Pro", monospace;
  --color-ui-text: #282828;
  --color-ui-accent: #ddd;
  --breakpoint-promax: 26.875rem;
  --breakpoint-se:23.44rem;
  --text-body: 1rem;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
